@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

body {
    font-family: sans-serif;
    /*   background-color: #d6f7a1; */
    background-color: black;
    text-shadow: 0 0 10px #FFFFFF;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-right: 5%;
}
.info > h1 {
    letter-spacing: 5px;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    /* text-shadow: 0 0 10px #FFFFFF; */
    display: flex;
    justify-content: flex-end;
    /* margin: 100px; */
    animation-name: fadeup;
    animation: 1s fadeup 0.5s forwards;
    margin-top: 0;
}

.page {
    color: #FFFFFF;
    font-size: 100px;
    display: flex;
    flex-direction: row;
}

/* HEADER STYLES */
.nav {
    list-style: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 100px;
    margin-left: 250px;
    margin-right: 60px;
    
    padding: 20px;
    border: 20px;
    animation-name: fadeup;
    animation: 1s fadeup 0.5s forwards;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: 0 0 10px #FFFFFF;
}

.content {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
    animation-name: fadeup;
    animation: 1s fadeup 0.5s forwards;
}

@keyframes fadeup {
    0%{
        opacity: 0;
        transform: translate(0px, 100px);
    }
    100%{
        opacity: 1;
        transform: translate(0px, 0px);
    }
}
  
/* NAV STYLES  */
.about:after{
    content:"about";
}
.about:hover:after{
    content:"about";
    margin-left: 20px;
    margin-right: -20px;
    transition: .4s cubic-bezier(0.2, 0.6, 0.2, 1);
}

.work:after{
    content:"work";
}
.work:hover:after{
    content:"work";
    margin-left: 20px;
    margin-right: -20px;
    transition: .4s cubic-bezier(0.2, 0.6, 0.2, 1);
}

.connect:after{
    content:"connect";
}
.connect:hover:after{
    content:"connect";
    margin-left: 20px;
    margin-right: -20px;
    transition: .4s cubic-bezier(0.2, 0.6, 0.2, 1);
}
  
.footer{
    color: #FFFFFF;
    /* text-shadow: 0 0 10px #FFFFFF; */
    opacity: .2;
    margin-top: 300px;
    display: flex;
    justify-content: center;
}